[Dd]ebug/
[Rr]elease/
[Bb]in/
[Bb]in-*/
lib/
obj/
_ReSharper*/
deployables/
packages/
TempBuildDir/
ClientBin/
dist/
tools/
local/
sb-dist
[Tt]est[Rr]esult*
Thumbs.db
*.bak
*.*scc
*.user
*.suo
*.webinfo
*.cache
*.obj
*.exe
*.pdb
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.lib
*.ncb
*.tlb
*.tlh
*.ilk
*.log
*.sbr
*~
*.swp
*log.txt
*.opensdf
*.sdf
*.msi
*.wixpdb
forms/solr/data
UpgradeLog.htm
*.appxupload
*.appx
*.appxsym
bower_components/
dist/
node_modules
.idea/
.sass-cache/
.tmp/
coverage/
*.iml
.vs/
coverage-report.html
sb_dist/
sb_dist
.DS_Store
*TestResults.xml
dependencies/
ui/configure database design/automation/

# Ignore verify test files
*.received.*
